
.dart_tool/build/entrypoint/.packageLocations
.dart_tool/build/entrypoint/build.dart
.dart_tool/build/entrypoint/build.dart.dill
.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/error_cache/hotel_recreation/93/lib/features/properties/data/data_source/properties_remote_data_source_impl.dart
.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/error_cache/hotel_recreation/93/lib/features/properties/data/model/guest_review_model.dart
.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/error_cache/hotel_recreation/93/lib/features/properties/data/model/properties_result_model.dart
.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/error_cache/hotel_recreation/93/lib/features/properties/data/model/search_result_model.dart
.dart_tool/build/generated/async/lib/async.dart.transitive_digest
.dart_tool/build/generated/bloc/lib/bloc.dart.transitive_digest
.dart_tool/build/generated/characters/lib/characters.dart.transitive_digest
.dart_tool/build/generated/collection/lib/collection.dart.transitive_digest
.dart_tool/build/generated/dartz/lib/dartz.dart.transitive_digest
.dart_tool/build/generated/dio/lib/dio.dart.transitive_digest
.dart_tool/build/generated/equatable/lib/equatable.dart.transitive_digest
.dart_tool/build/generated/flutter/lib/foundation.dart.transitive_digest
.dart_tool/build/generated/flutter/lib/material.dart.transitive_digest
.dart_tool/build/generated/flutter/lib/widgets.dart.transitive_digest
.dart_tool/build/generated/flutter_bloc/lib/flutter_bloc.dart.transitive_digest
.dart_tool/build/generated/http_parser/lib/http_parser.dart.transitive_digest
.dart_tool/build/generated/get_it/lib/get_it.dart.transitive_digest
.dart_tool/build/generated/injectable/lib/injectable.dart.transitive_digest
.dart_tool/build/generated/material_color_utilities/lib/material_color_utilities.dart.transitive_digest
.dart_tool/build/generated/meta/lib/meta.dart.transitive_digest
.dart_tool/build/generated/meta/lib/meta_meta.dart.transitive_digest
.dart_tool/build/generated/nested/lib/nested.dart.transitive_digest
.dart_tool/build/generated/path/lib/path.dart.transitive_digest
.dart_tool/build/generated/provider/lib/single_child_widget.dart.transitive_digest
.dart_tool/build/generated/provider/lib/provider.dart.transitive_digest
.dart_tool/build/generated/string_scanner/lib/string_scanner.dart.transitive_digest
.dart_tool/build/generated/source_span/lib/source_span.dart.transitive_digest
.dart_tool/build/generated/term_glyph/lib/term_glyph.dart.transitive_digest
.dart_tool/build/generated/typed_data/lib/typed_data.dart.transitive_digest
.dart_tool/build/generated/vector_math/lib/vector_math_64.dart.transitive_digest
.dart_tool/build_resolvers/sdk.sum
.dart_tool/build_resolvers/sdk.sum.deps
.dart_tool/flutter_build/4eb695868b31a18e8528a2249fa940a4/.filecache
.dart_tool/flutter_build/4eb695868b31a18e8528a2249fa940a4/app.dill
.dart_tool/flutter_build/4eb695868b31a18e8528a2249fa940a4/debug_unpack_ios.stamp
.dart_tool/flutter_build/4eb695868b31a18e8528a2249fa940a4/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/4eb695868b31a18e8528a2249fa940a4/gen_localizations.stamp
.dart_tool/flutter_build/4eb695868b31a18e8528a2249fa940a4/kernel_snapshot.d
.dart_tool/flutter_build/4eb695868b31a18e8528a2249fa940a4/outputs.json
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/pub/incremental/build_runner/build_runner.dart.incremental.dill
.dart_tool/version
.fvm/flutter_sdk
.fvm/fvm_config.json
.idea/hotel_recreation.iml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/modules.xml
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
.idea/workspace.xml
.idea/vcs.xml
android/local.properties
build/73f64856d7b1b78d6cd1c32d75c527c0/gen_dart_plugin_registrant.stamp
build/73f64856d7b1b78d6cd1c32d75c527c0/_composite.stamp
build/73f64856d7b1b78d6cd1c32d75c527c0/gen_localizations.stamp
build/ios/Debug-iphonesimulator/.last_build_id
build/ios/Debug-iphonesimulator/Flutter.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/Flutter.h
build/ios/Debug-iphonesimulator/Flutter.framework/Flutter
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterAppDelegate.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterBinaryMessenger.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterChannels.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterCallbackCache.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterCodecs.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterDartProject.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterEngine.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterMacros.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterEngineGroup.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterPlatformViews.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterPlugin.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterTexture.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterViewController.h
build/ios/Debug-iphonesimulator/Flutter.framework/icudtl.dat
build/ios/Debug-iphonesimulator/Flutter.framework/Info.plist
build/ios/Debug-iphonesimulator/Flutter.framework/Modules/module.modulemap
build/last_build_run.json
ios/Flutter/AppFrameworkInfo.plist
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
ios/Runner.xcodeproj/project.pbxproj
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner/Info.plist
lib/core/di/injection.config.dart
.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/error_cache/hotel_recreation/93/lib/features/properties/data/repository/properties_repository_impl.dart
*.transitive_digest
*.dill
*.d
*.stamp
.dart_tool/flutter_build/fc4d72570c22886461548236487f886b/outputs.json
.dart_tool/flutter_build/fc4d72570c22886461548236487f886b/App.framework/App
.dart_tool/flutter_build/fc4d72570c22886461548236487f886b/.filecache
.dart_tool/build/generated/hotel_recreation/lib/features/properties/domain/usecases/get_list_properties_usecase.injectable.json
*.snapshot
